*{
    box-sizing: border-box;
}
a{
    cursor: pointer;
}
.logo{

max-width: 25%;


}
body{
    color: #222;
}

img{
    max-width: 100%;
    max-height: 100%;
}
.image {
    max-width: 80%;
    max-height: 80%;
    border: 5px solid #007cbb; /* Add solid border with the specified color */
}

main{
    padding: 10px;
    max-width: 1000px;
    margin: 0 auto;
    
}
header{
    display:flex;
    justify-content:space-between;
    margin-top: 50px;
    margin-bottom: 80px;
    align-items: center;


}
header a{
    text-decoration:none;
    color: inherit;
}
header a.logo{
    font-weight: bold;
    font-size: 2rem;
}
header nav{
    display:flex;
    gap: 24px;
    font-weight: bold;
    color:#007cbb;
}

div.post{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1px;
    margin-bottom: 30px;

}
@media screen and (min-width: 700px) {
    div.post{
        grid-template-columns: .9fr 1.1fr;
    }
}

div.post div.texts h2{
    margin:0;
    font-size: 2rem;
}
div.post div.texts a{
    text-decoration:none;
    color: inherit;
    
}
div.post p.info{
    margin:5px 0;
    color: #007cbb;
    font-size:1rem;
    font-weight: bold;
    display: flex;
    gap: 5px;
}
div.post p.info a.author{
    color:#333;
    
}
div.post p.summary{
    margin:10px 0;
    line-height: 1.8rem;
}

form.login, form.register{
    max-width: 400px;
    margin: 0 auto;
}

input{
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 5px 7px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}


form.login h1, form.register h1{
    text-align: center;
}

div.post-page div.image{
    max-height:auto;
    display: flex;
    overflow:hidden;
}
div.post-page div.image img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
}

div.post-page h1{
    text-align: center;
    margin: 10px 0 5px;
    
}
div.post-page time{
    text-align: center;
    display: block;
    font-size:1rem;
    color:#aaa;
    margin: 10px 0;
}
div.post-page div.author{
    text-align: center;
    margin-bottom: 20px;
    font-size: .7rem;
    font-weight: bold;
}
div.content p{
    line-height: 1.7rem;
    margin: 30px 0;
    font-size: 1.4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div.content li{
    margin-bottom: 10px;
}

div.edit-row{
    text-align: center;
    margin-bottom: 70px;
}

a svg{
    height:20px;
}
.edit-row {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally within the column */
  }
  
  .edit-btn {
    background-color: #848484;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    border: 0;
    text-decoration: none; /* Remove underline from anchor element */
    margin-top: 10px; /* Add vertical spacing between buttons */
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .del-btn {
    background-color: #f60a0a;
    color: #fff;
    padding: 15px 25px;
    border-radius: 5px;
    border: 0;
    text-decoration: none; /* Remove underline from button element */
    margin-top: 10px;
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .upvote-btn {
    color: #007cbb;
    padding: 15px 30px;
    border-radius: 5px;
    border: 0;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;
    text-decoration: none; /* Remove underline from anchor element */
    margin-top: 10px; /* Add vertical spacing between buttons */
    font-size: small;
    margin-left: 421px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .votes{
    margin-bottom: 5px;
  }
  
  .upvote-btn:hover {
    background-color: #3b4f59;
  }
  
  /* Comment Section */
.comments {
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .comments h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .comment {
    border: 1px solid #80b2e2;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .comment p {
    margin: 5px 0;
  }
  
  .comment p:first-child {
    font-weight: bold;
  }
  
  .comment p:last-child {
    color: #666;
  }
  
  textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }
  
  button {
    padding: 5px 10px;
    background-color: #80b2e2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Sort by */

  .sortBy button {
    margin-top: 20px;
    background-color: #007cbb;
    margin-left: 1px;
  }


.sort {

margin-bottom: 20px;
margin-top: 20px;
color: #007cbb;


}

/* Path: client/src/components/Post.js search bar */

.searchBar {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    margin-bottom: 20px;
    
  }
  
  .searchBar input[type="text"] {
    padding: 12px 20px;
    border: 1px solid #68b9e4;
    border-radius: 4px;
    margin-right: 5px;
    width: 900px;
  }
  
  .searchBar button {
    padding: 12.5px 16px;
    margin-bottom: 4px;
    background-color: #68b9e4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .searchBar button:hover {
    background-color: rgb(104, 185, 228);
  }
  